body{
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-content: center; 
    /* overflow-x: hidden; */
}

.body {
    width: 375px;
    height: 830px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background-color: #030880; */
}

/* ----------------------------
        Porfile Company
    ----------------------------*/
.profile_company {
    width: 100%;
    height: 70px;
    background-color: aqua;  
    display: flex;
    /* justify-content: center; */
    /* align-items: center;   */

    margin-top: 5px;
    border: 2px solid blue;
    border-radius: 5px;
}
.profile_company img {
    width: auto;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
}
.profile_company h1 {
    font-family: Battambang;
    font-size: 22px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 0px;
    color: blue;
    line-height: 1.5;
}



/* ----------------------------
        Contianner
    ----------------------------*/
.body .contianer {
    width: 100%;
    height: auto;
    background-color: white; 
    margin-top: -5px;   
}


/* -------------------------------------
        IMG and DEFINETION TITLE
    --------------------------------------*/
img{
    width: 55px;
    height: 55px;
    float: left;
}
.img{
    width: 60px;
    height: 60px;
    /* background-color: green; */

    display: flex;
    align-items: center;
    justify-content: center;
}
.defin{
    width: 80px;
    height: 18px;
    background-color: lightgray;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 10px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}
.processing{
    font-family: Battambang;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-align: center;
}
#boxs{
    width: 100px;
    height: 90px;
    background-color: wheat;
    float: left;
    flex-direction: column;
    

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* #boxs:active, #boxs:focus {
    background-color: yellow;
}
#boxs:hover, #boxs:active {
    background-color: green;
} */



/* ----------------------------
        Vending Machine
    ----------------------------*/
.contianer .vending{
    width: 375px;
    height: 139px;
    /* background-color: red;  */
    margin-top: 10px;
}

.vending .title {
    width: 95%;
    height: 35px;
    background-color: deeppink;   
    padding-left: 10px;
    margin-left: 2.5%;

    /* background-color: #fff; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.vending .title h2{
    font-family: Battambang;
    font-weight: bold;
    font-size: 17px;
    color: white;
    display: flex;
}



    /*--- Vendnig Machine One */
.vending .vending_1{
    width: 220px;
    height: 90px;
    /* background-color: greenyellow; */
    margin-top: 10px;
    float: left;
    margin-left: 2.5%;
}
.vending_1 .fabric{
    margin-left: 15px;
}





/* ----------------------------
        Washing Machine
    ----------------------------*/
.contianer .washing{
    width: 375px;
    height: auto;
    /* background-color: green;  */
    margin-top: 5px;
}

.washing .title {
    width: 95%;
    height: 35px;
    background-color: deeppink;   
    padding-left: 10px;
    margin-left: 2.5%;
    margin-bottom: 5px;

    /* background-color: #fff; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.washing .title h2{
    font-family: Battambang;
    font-weight: bold;
    font-size: 17px;
    color: white;
    display: flex;
}

.washing .type_9kg{
    width: 375px;
    height: 139px;
    /* background-color: deepskyblue;  */
    margin-top: -10px;
}


    /*--- Washing Machine 9kg One */
.washing .washing_9kg_1{
    margin-left: 2.5%;
    margin-top: 5px;
}


    /*--- Washing Machine 9kg Two */
.washing .washing_9kg_2{
    margin-left: 15px;
    margin-top: 5px;
}


    /*--- Washing Machine 9kg Three */
.washing .washing_9kg_3{
    margin-left: 15px;
    margin-top: 5px;
}


.washing .type_12kg{
    width: 375px;
    height: 139px;
    /* background-color: darkgoldenrod;  */
    margin-top: -10px;
}

    /*--- Washing Machine 12kg One */
.washing .washing_12kg_1{
    margin-left: 2.5%;
    margin-top: 5px;
}

    /*--- Washing Machine 12kg Two */
.washing .washing_12kg_2{
    margin-left: 15px;
    margin-top: 5px;
}


/* ----------------------------
        Dryer Machine
    ----------------------------*/
.contianer .dryer{
    width: 375px;
    height: 139px;
    /* background-color: blueviolet;  */
    margin-top: -10px;
}

.dryer .title {
    width: 95%;
    height: 35px;
    background-color: deeppink;   
    padding-left: 10px;
    margin-left: 2.5%;
    margin-bottom: 5px;

    /* background-color: #fff; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.dryer .title h2{
    font-family: Battambang;
    font-weight: bold;
    font-size: 17px;
    color: white;
    display: flex;
}

    /*--- Dryer Machine One */
.dryer .dryer_1{
    margin-left: 2.5%;
    margin-top: 5px;
}

    /*--- Dryer Machine Two */
.dryer .dryer_2{
    margin-left: 15px;
    margin-top: 5px;
}




/* ----------------------------
        Irronning Station
    ----------------------------*/
.contianer .ironing{
    width: 375px;
    height: 139px;
    /* background-color: darkslategray;  */
    margin-top: -10px;
}

.ironing .title {
    width: 95%;
    height: 35px;
    background-color: deeppink;   
    padding-left: 10px;
    margin-left: 2.5%;
    margin-bottom: 5px;

    /* background-color: #fff; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.ironing .title h2{
    font-family: Battambang;
    font-weight: bold;
    font-size: 17px;
    color: white;
    display: flex;
}

    /*--- Ironning Station One */
.ironing .ironing_1{
    margin-left: 2.5%;
    margin-top: 5px;
}


    /*--- Ironning Station Two */
.ironing .ironing_2{
    margin-left: 15px;
    margin-top: 5px;
}